<?xml version="1.0"?>
<config>
    <sections>
        <carriers>
            <groups>
				<simplecarrier translate="label">
                    <label>Simple Shipping Methods</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <type translate="label">
                            <label>Type</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_shipping_flatrate</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </type>
                        <sort_order translate="label">
                            <label>Sort order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sort_order>
                    
                    
                    
                        <headingA translate="label">
                            <label>Shipping Method A</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </headingA>
						<activeA translate="label">
                            <label>Method A enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </activeA>
                        <nameA translate="label">
                            <label>Method name A</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <activeA>1</activeA>
                            </depends>
                        </nameA>
                        <priceA translate="label">
                            <label>Price A</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <activeA>1</activeA>
                            </depends>
                        </priceA>
						<allowfreeA translate="label">
                            <label>Allow free shipping for A</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <activeA>1</activeA>
                            </depends>                            
                        </allowfreeA>
                        <free_shipping_subtotalA translate="label">
                            <label>Minimum order amount for free shipping A</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <activeA>1</activeA>
                            </depends>
                        </free_shipping_subtotalA>
                        
                        <headingB translate="label">
                            <label>Shipping Method B</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </headingB>
						<activeB translate="label">
                            <label>Method B enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </activeB>
						<nameB translate="label">
                            <label>Method name B</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>22</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <activeB>1</activeB>
                            </depends>                            
                        </nameB>
                        <priceB translate="label">
                            <label>Price B</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>23</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <activeB>1</activeB>
                            </depends>                            
                        </priceB>
                        <allowfreeB translate="label">
                            <label>Allow free shipping for B</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>24</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <activeB>1</activeB>
                            </depends>                            
                        </allowfreeB>
                        <free_shipping_subtotalB translate="label">
                            <label>Minimum order amount for free shipping B</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <activeB>1</activeB>
                            </depends> 
                        </free_shipping_subtotalB>
                        
                        <headingC translate="label">
                            <label>Shipping Method C</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </headingC>
						<activeC translate="label">
                            <label>Method C enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>31</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </activeC>
						<nameC translate="label">
                            <label>Method name C</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>32</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <activeC>1</activeC>
                            </depends>                            
                        </nameC>
                        <priceC translate="label">
                            <label>Price C</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>33</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <activeC>1</activeC>
                            </depends>                            
                        </priceC>
                        <allowfreeC translate="label">
                            <label>Allow free shipping for C</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>34</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <activeC>1</activeC>
                            </depends>                            
                        </allowfreeC>
                        <free_shipping_subtotalC translate="label">
                            <label>Minimum order amount for free shipping C</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <activeC>1</activeC>
                            </depends>
                        </free_shipping_subtotalC>
                        
                        <headingD translate="label">
                            <label>Shipping Method D</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </headingD>
						<activeD translate="label">
                            <label>Method D enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>41</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </activeD>
						<nameD translate="label">
                            <label>Method name D</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>42</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <activeD>1</activeD>
                            </depends>                            
                        </nameD>
                        <priceD translate="label">
                            <label>Price D</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>43</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <activeD>1</activeD>
                            </depends>                             
                        </priceD>
                        <allowfreeD translate="label">
                            <label>Allow free shipping for D</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>44</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <activeD>1</activeD>
                            </depends>                            
                        </allowfreeD>
                        <free_shipping_subtotalD translate="label">
                            <label>Minimum order amount for free shipping D</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>45</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <activeD>1</activeD>
                            </depends> 
                        </free_shipping_subtotalD>
                        
                        <headingE translate="label">
                            <label>Shipping Method E</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </headingE>
                        <activeE translate="label">
                            <label>Method E enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>51</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </activeE>
                        <nameE translate="label">
                            <label>Method name E</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>52</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <activeE>1</activeE>
                            </depends>                            
                        </nameE>
                        <priceE translate="label">
                            <label>Price E</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>53</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <activeE>1</activeE>
                            </depends>                             
                        </priceE>
                        <allowfreeE translate="label">
                            <label>Allow free shipping for E</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>54</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <activeE>1</activeE>
                            </depends>                            
                        </allowfreeE>
                        <free_shipping_subtotalE translate="label">
                            <label>Minimum order amount for free shipping E</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>55</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <activeE>1</activeE>
                            </depends> 
                        </free_shipping_subtotalE>
                        
                        <headingF translate="label">
                            <label>Shipping Method F</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </headingF>
                        <activeF translate="label">
                            <label>Method F enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>61</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </activeF>
                        <nameF translate="label">
                            <label>Method name F</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>62</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <activeF>1</activeF>
                            </depends>                            
                        </nameF>
                        <priceF translate="label">
                            <label>Price F</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>63</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <activeF>1</activeF>
                            </depends>                             
                        </priceF>
                        <allowfreeF translate="label">
                            <label>Allow free shipping for F</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>64</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <activeF>1</activeF>
                            </depends>                            
                        </allowfreeF>
                        <free_shipping_subtotalF translate="label">
                            <label>Minimum order amount for free shipping F</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>65</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <activeF>1</activeF>
                            </depends> 
                        </free_shipping_subtotalF>
                        
                        <headingG translate="label">
                            <label>Shipping Method G</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </headingG>
                        <activeG translate="label">
                            <label>Method G enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>71</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </activeG>
                        <nameG translate="label">
                            <label>Method name G</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>72</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <activeG>1</activeG>
                            </depends>                            
                        </nameG>
                        <priceG translate="label">
                            <label>Price G</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>73</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <activeG>1</activeG>
                            </depends>                             
                        </priceG>
                        <allowfreeG translate="label">
                            <label>Allow free shipping for G</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>74</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <activeG>1</activeG>
                            </depends>                            
                        </allowfreeG>
                        <free_shipping_subtotalG translate="label">
                            <label>Minimum order amount for free shipping G</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>75</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <activeG>1</activeG>
                            </depends> 
                        </free_shipping_subtotalG>
                        
                        <headingH translate="label">
                            <label>Shipping Method H</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </headingH>
                        <activeH translate="label">
                            <label>Method H enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>81</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </activeH>
                        <nameH translate="label">
                            <label>Method name H</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>82</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <activeH>1</activeH>
                            </depends>                            
                        </nameH>
                        <priceH translate="label">
                            <label>Price H</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>83</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <activeH>1</activeH>
                            </depends>                             
                        </priceH>
                        <allowfreeH translate="label">
                            <label>Allow free shipping for H</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>84</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <activeH>1</activeH>
                            </depends>                            
                        </allowfreeH>
                        <free_shipping_subtotalH translate="label">
                            <label>Minimum order amount for free shipping H</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>85</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <activeH>1</activeH>
                            </depends> 
                        </free_shipping_subtotalH>
                        
                        <headingI translate="label">
                            <label>Shipping Method I</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </headingI>
                        <activeI translate="label">
                            <label>Method I enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>91</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </activeI>
                        <nameI translate="label">
                            <label>Method name I</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>92</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <activeI>1</activeI>
                            </depends>                            
                        </nameI>
                        <priceI translate="label">
                            <label>Price I</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>93</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <activeI>1</activeI>
                            </depends>                             
                        </priceI>
                        <allowfreeI translate="label">
                            <label>Allow free shipping for I</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>94</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <activeI>1</activeI>
                            </depends>                            
                        </allowfreeI>
                        <free_shipping_subtotalI translate="label">
                            <label>Minimum order amount for free shipping I</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>95</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <activeI>1</activeI>
                            </depends> 
                        </free_shipping_subtotalI>
                        
                        <headingJ translate="label">
                            <label>Shipping Method J</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </headingJ>
                        <activeJ translate="label">
                            <label>Method J enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>101</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </activeJ>
                        <nameJ translate="label">
                            <label>Method name J</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>102</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <activeJ>1</activeJ>
                            </depends>                            
                        </nameJ>
                        <priceJ translate="label">
                            <label>Price J</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>103</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <activeJ>1</activeJ>
                            </depends>                             
                        </priceJ>
                        <allowfreeJ translate="label">
                            <label>Allow free shipping for J</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>104</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <activeJ>1</activeJ>
                            </depends>                            
                        </allowfreeJ>
                        <free_shipping_subtotalJ translate="label">
                            <label>Minimum order amount for free shipping J</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>105</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <activeJ>1</activeJ>
                            </depends> 
                        </free_shipping_subtotalJ>
                        
                        <heading_other translate="label">
                            <label>Other options</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </heading_other>
                        <sallowspecific translate="label">
                            <label>Ship to applicable countries</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>201</sort_order>
                            <frontend_class>shipping-applicable-country</frontend_class>
                            <source_model>adminhtml/system_config_source_shipping_allspecificcountries</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sallowspecific>
                        <specificcountry translate="label">
                            <label>Ship to Specific countries</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>202</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </specificcountry>
                        <showmethod translate="label">
                            <label>Show method if not applicable</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>203</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </showmethod>
                        <specificerrmsg translate="label">
                            <label>Displayed Error Message</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>204</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </specificerrmsg>
                        
                        <image_premius translate="label">
                        <frontend_type>label</frontend_type>
                        <label>Banner</label>
                        <frontend_model>simpleshipping/adminhtml_system_config_fieldset_banner</frontend_model>
                        <sort_order>205</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                        </image_premius>

                    </fields>
                </simplecarrier>
            </groups>
        </carriers>
    </sections>
</config>